[submodule "Measurement"]
	path = Measurement
	url = http://krr-app-bbgit01/Measurement.git
[submodule "MessageLogs"]
	path = MessageLogs
	url = http://krr-app-bbgit01/MessageLogs.git
[submodule "Helpers"]
	path = Helpers
	url = http://krr-app-bbgit01/Helpers.git
