<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\Informations.log" />
      <param name="AppendToFile" value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d  %-5p %m%n" />
      </layout>
    </appender>

    <appender name="ErrorFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Errors.log" />
      <appendToFile value="true" />
      <maximumFileSize value="5MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %level %thread %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ErrorFile" />
    </logger>

  </log4net>
  <appSettings>
    <!-- Настройки логирования -->
    <add key="eventSourceName" value="TR" />
    <add key="logName" value="TRLogsFile" />
    <!-- В журнал Windows -->
    <add key="Logs" value="False" />
    <add key="LogErrors" value="False" />
    <!-- В базу данных -->
    <add key="dbLogs" value="True" />
    <add key="dbLogErrors" value="True" />
    <!-- В файл на диске -->
    <add key="fLogs" value="True" />
    <add key="fLogErrors" value="True" />

    <!-- bf9 загрузка -->
    <add key="sp_bf9_ums" value="[bf9].[UnloadMaterialSmena]" />
    <add key="sp_bf9_ub" value="[bf9].[UnloadBunker]" />
    <!-- bf9 энергоресурсы -->
    <add key="sp_bf9_es" value="[bf9].[EnergoSutki]" />
    
    <!-- bf8 энергоресурсы -->
    <add key="sp_bf8_es" value="[bf8].[EnergoSutki]" />    
    
    <!-- bf7 энергоресурсы -->
    <add key="sp_bf7_es" value="[bf7].[EnergoSutki]" />   
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="BF9" connectionString="data source=krr-sql-paclx02;initial catalog=KRR-PA-CNT-TReports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="BF7" connectionString="data source=krr-sql-paclx02;initial catalog=KRR-PA-CNT-TReports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BF8" connectionString="data source=krr-sql-paclx02;initial catalog=KRR-PA-CNT-TReports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BF9" connectionString="data source=krr-sql-paclx02;initial catalog=KRR-PA-CNT-TReports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Log" connectionString="data source=krr-sql-paclx02;initial catalog=KRR-PA-CNT-TReports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>